/* Fonts */

@font-face {
  font-family: 'ComicBook';
  src: url('../fonts/ComicBook.eot');
  src: url('../fonts/ComicBook.woff2') format('woff2'), url('../fonts/ComicBook.woff') format('woff'), url('../fonts/ComicBook.ttf') format('truetype'), url('../fonts/ComicBook.svg#ComicBook') format('svg'), url('../fonts/ComicBook.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComicBook-Bold';
  src: url('../fonts/ComicBook-Bold.eot');
  src: url('../fonts/ComicBook-Bold.woff2') format('woff2'), url('../fonts/ComicBook-Bold.woff') format('woff'), url('../fonts/ComicBook-Bold.ttf') format('truetype'), url('../fonts/ComicBook-Bold.svg#ComicBook-Bold') format('svg'), url('../fonts/ComicBook-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* Fluid Typgraphy */
html {font-size: 16px;}
h1 {font-size: 39.063px;}
h2 {font-size: 31.25px;}
h3 {font-size: 25px;}
h4 {font-size: 20px;}
small, .font_small {font-size: 0.8em;}
.lead {font-size: 1.5em;}
p {font-size: 1.1em;line-height: 1.6;}
@media screen and (min-width: 320px) {
  html {font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (900 - 320)));}
  h1 {font-size: calc(39.063px + (81 - 39.063) * ((100vw - 320px) / (900 - 320)));}
  h2 {font-size: calc(31.25px + (54 - 31.25) * ((100vw - 320px) / (900 - 320)));}
  h3 {font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (900 - 320)));}
  h4 {font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (900 - 320)));}
}
@media screen and (min-width: 900px) {
  html {font-size: 18px;}
  h1 {font-size: 81px;}
  h2 {font-size: 54px;}
  h3 {font-size: 36px;}
  h4 {font-size: 24px;}
}

body {
  font-family: 'ComicBook', serif !important;
  font-weight: 400;
  line-height: 1.45;
  color: #fff;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
}

/* General styles */

body {
  background-color: #f00100;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-flow: row wrap;
}

img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  transition: all .5s ease;
  transition-property: color, background-color, border;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #f00200;
  border-bottom: 3px solid #F9F237;
  color: #000;;
}

header .navbar .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1220px;
}

header .navbar .container .navbar-end {
  display: flex;
  flex-flow: row nowrap;
  min-width: 325px;
  height: 40px;
  vertical-align: middle;
  margin: 20px 0;
  padding-left: 0;
}

header .navbar .container .navbar-end li {
  height: 40px;
}

header .navbar .container .navbar-end li:not(:last-of-type) {
  height: 40px;
  margin-right: 20px;
  vertical-align: top;
}

header .navbar .container .navbar-end li a {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}

header .navbar .container .navbar-end li a:hover,
header .navbar .container .navbar-end li a:focus {
  color: #3842A0;
}

.navbar-brand figure.image {
  max-width: 145px;
}

@media only screen and (max-width: 560px) {
  header .navbar .container {
    flex-flow: row wrap;

  }
  header .navbar .container > div {
    width: 100%;
    margin: 0 auto;
  }
  .navbar-brand figure.image {
    margin: 5px auto;
  }
  header .navbar .container .navbar-end {
    margin: 5px auto 10px;
  }
} /* end media breakpoint @ 560px */

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 90px;
}

main .container {
  max-width: 900px;
  padding: 0 40px;
  margin: 0 auto;
}

@media only screen and (max-width: 560px) {
  main .container {
    padding: 0 20px;
  }
} /* end media breakpoint @ 560px */

section {
  padding: 80px 0;
  border-bottom: 3px solid #000;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 0;
  }
} /* end media breakpoint @ 768px */
/* Begin Hero section */

section#hero .container.section {
  justify-content: center;
  margin: 0 auto;
}

section#hero .container.section .img-wrapper {
  display: inline-block;
  width: 45%;
}

section#hero .container.section .text-wrapper {
  display: inline-block;
  width: 55%;
}

section#hero .container.section .img-wrapper img {
  max-width: 400px;
  margin-right: 40px;
}

@media only screen and (max-width: 560px) {
  section#hero .container.section {
    flex-flow: row wrap;
  }
  section#hero .container.section > div {
    width: 100% !important;
  }
  section#hero .container.section .img-wrapper {
    margin: 0 10% 30px;
  }
} /* end media breakpoint @ 560px */

/* End Hero section */

/* Begin About  */

section#about {
  background-color: #3842A0;
}

section#about .text-wrapper {
  margin-bottom: 40px;
}

section#about .image-wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid #000;
}

section#about .image-wrapper a.caption {
  display: block;
  position: absolute;
  bottom: 30%;
  left: 0;
  background-color: #f00200;
  color: #fff;
  padding: 15px 35px;
  margin: 0;
  margin-left: -20px;
  text-decoration: none;
  border: 3px solid #000;
}

section#about .image-wrapper h2 {
  font-size: 2.25em;
  line-height: 1em;
  margin: 0;
  padding-bottom: 5px;
}

section#about .image-wrapper a.caption:hover, 
section#about .image-wrapper a.caption:focus {
  background-color: #F9F237;
  color: #000;
  border: 3px solid #000;
  color: #000;;
  
} 

/* End About  */

/* Begin Siema Slider */
#siema-slider {
  position: relative;
  padding-left: calc(0px + 120 * ((100vw - 320px) / (900 - 320)));
  padding-right: calc(0px + 120 * ((100vw - 320px) / (900 - 320)));
}
@media only screen and (min-width: 900px) {
  #siema-slider {
    padding-left: 120px;
    padding-right: 120px;
  }
} /* end media breakpoint @ 900px */

#siema-slider .siema img {
  border: 3px solid #000;
}

#siema-slider h1.title {
  display: block;
  position: absolute;
  bottom: 25%;
  left: 80px;
  background-color: #f00200;
  color: #fff;
  padding: 15px 35px;
  margin: 0;
  text-decoration: none;
  border: 3px solid #000;
  z-index: 2;
  font-size: 1.5em;
  line-height: 1.5;
}

#siema-slider .prev,
#siema-slider .next {
  position: absolute;
  top: -39px !important;
  width: auto;
  height: auto;
  background-color: lightgray;
  color: black;
  border: 3px solid #000 !important;
  width: calc( 49.5% - (0px + 120 * ((100vw - 320px) / (900 - 320))) );
}
#siema-slider .prev:hover,
#siema-slider .prev:focus,
#siema-slider .next:hover,
#siema-slider .next:focus {
  background-color: #a1a1a1;
}

#siema-slider .siema-slide {
  position: relative;
  z-index: 20px;
}

#siema-slider .siema-slide .caption {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 85%;
  color: #000;
  background-color: #F8F237;
  color: #000;
  border: 3px solid #000;
  padding: 30px 30px;
  border-radius: 50%;
}


@media only screen and (max-width: 768px) {
  #siema-slider h1.title {
    position: relative;
    display: inline-block;
    margin: 0 auto 40px auto;
    left: auto;
  }

  #siema-slider .siema-slide .caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    border-radius: 0;
    margin-top: -25px;
  }

  #siema-slider .prev,
  #siema-slider .next {
    top: 78px !important;
  }
} /* end media breakpoint @ 768px */

@media only screen and (min-width: 320px) {
  #siema-slider .prev {
    left: calc(0px + 120 * ((100vw - 320px) / (900 - 320)));
  }
  #siema-slider .next {
    right: calc(0px + 120 * ((100vw - 320px) / (900 - 320)));
  }
} /* end media breakpoint @ 320px */

@media only screen and (min-width: 900px) {
  #siema-slider .prev {
    left: 120px;
  }
  #siema-slider .next {
    right: 120px;
  }
} /* end media breakpoint @ 900px */
/* End Siema Slider */


/* Begin Story Section */
section#story .container.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    " about syndrome "
    " howToHelp syndrome ";
}

section#story .container.section > div {
  padding: 30px 15px;
}

section#story #about {
  grid-area: about;
  background-color: #3842A0;
  border: 3px solid #000;
}
section#story #how-to-help {
  grid-area: howToHelp;
  background-color: #F8F237;
  color: #000;
  border: 3px solid #000;
  border-top: none;
}
section#story #syndrome {
  grid-area: syndrome;
  background-color: #F99633;
  color: #000;
  border: 3px solid #000;
  border-left: none;
}

@media only screen and (max-width: 768px) {
  section#story .container.section {
    display: block;
  }
  section#story #about {
    border: 3px solid #000;
  }
  section#story #syndrome,
  section#story #how-to-help {
    border: 3px solid #000;
    border-top: 0;
  }
} /* end media breakpoint @ 768px */

/* End Story Section */


/* Begin Buy Book Section */
section#buy-book {
  background-color: #F9F237;
  color: #000;
}
html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 form .ecwid-SingleProduct-picture img {
  border: 3px solid #000 !important;
}
@media only screen and (max-width: 560px) {
  html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 form > div {
    width: 100%;
  }
  html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 .ecwid-SingleProduct-picture {
    margin-bottom: 0 !important;
  }

  html#ecwid_html body#ecwid_body .ecwid.ecwid-SingleProduct-v2 form .text-wrapper {
    max-width: 270px;
    border: 3px solid #000;
    border-top: 0;
    margin: 0 auto;
  }
} /* end media breakpoint @ 560px */


html#ecwid_html body#ecwid_body div.ecwid-ProductBrowserPopup > div {
  border: 3px solid #000 !important;
  border-radius: 0 !important;
  background-color: #3842A0 !important;
}
html#ecwid_html body#ecwid_body div.ecwid-ProductBrowserPopup .ecwid-ProductBrowserPopup-content {
  min-height: auto !important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
  background-color: #F8F237 !important;
  color: #000 !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser .gwt-Label {
  color: #fff !important;
  font-size: 18px !important;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart td.ecwid-productBrowser-cart-itemsTable-cell-price .ecwid-productBrowser-price, 
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart td.ecwid-productBrowser-cart-itemsTable-cell-subtotal .ecwid-productBrowser-price,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-productBrowser-head {
  color: #000 !important;
}

html#ecwid_html body#ecwid_body .ecwid .ecwid-btn {
  font-size: 14px !important;
  background-color: #3842A0 !important;
  border-radius: 0 !important;
  border: 3px solid #000 !important;
  padding: 10px 30px !important;
}
html#ecwid_html body#ecwid_body .ecwid .ecwid-btn:hover,
html#ecwid_html body#ecwid_body .ecwid .ecwid-btn:focus {
  background-color: #f00100 !important;
  color: #fff !important;
}
html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-headerCell,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-hint {
  color: #000 !important;
}

html#ecwid_html body#ecwid_body button.ecwid-popup-closeButton {
  background-color: transparent !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 0 !important;
  background-size: 20px auto !important;
  top: 0px !important;
  right: 0px !important;
}

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-removeItemButton {
  content: 'Remove';
  top: 40px !important;
  right: 15px !important;
  background-color: transparent !important;
  background-size: 20px auto !important;
  width: 25px !important;
  height: 25px !important;
}

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-removeItemButton:before {
  content: 'Remove' !important;
  color: #f00100 !important;
  font-size: 16px !important;
  position: absolute !important;
  width: 80px !important;
  top: 0px !important;
  right: 5px !important;
}

@media only screen and (max-width: 624px) {
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-removeItemButton {
    content: 'Remove';
    top: 12px !important;
    right: 75px !important;
    background-color: transparent !important;
    background-size: 20px auto !important;
    width: 25px !important;
    height: 25px !important;
  }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-itemsTable-price-compact-times {
    left: -8px !important;
    top: 15px !important;
  }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-btn {
    font-size: 14px !important;
    background-color: #3842A0 !important;
    border-radius: 0 !important;
    border: 3px solid #000 !important;
    padding: 10px 10px !important;
  }
} /* end media breakpoint @ 624p x */
/* End Buy Book Section */

/* Footer */

footer {
  padding: 50px;
  margin: 0 auto;
  max-width: 1220px;
  text-align: center;
  color: #000
}

footer a {
  color: #fff;
} 
footer a:hover,
footer a:focus {
  color: #3842A0;
  text-decoration: none;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  display: inline-block;
  margin-bottom: 50px;
  padding-left: 0;
}

footer ul li {
  display: inline-block;
  padding: 0 20px;
}

footer ul li a {
  text-decoration: none;
  font-size: 1.5em;
}
footer ul li a:hover {
  text-decoration: none;
}

footer .attribution span {
  white-space: nowrap
}
footer .attribution a {
  text-decoration: none;
}
