body {
  background-color: #f00100;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  font-size: 64px;
  color: #fff;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

img {
  height: auto;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}